.detail__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 44px;
  align-items: flex-start;
  gap: 44px;
  color: var(--black);
}

.detail__imgs {
  height: 100vh;
  overflow: scroll;
}

.detail__imgs__wrapper {
  display: initial;
}

.detail__imgs__wrapper video {
  max-width: 100%;
  height: auto;
}

.product__info {
  flex: 0 0 40%;
  padding-top: 90px;
}

.product__info__inner {
  position: relative;
}

.item__ctg {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 5px;
}

.item__ctg__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.item__ctg__info__title,
.item__ctg__info__price {
  font-size: 1rem;
  font-weight: 500;
}

.product__sizeBox {
  display: flex;
  margin: 44px 0 40px;
  font-size: 11px;
  font-weight: 500;
}

.product__size {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.product__size li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: auto;
}

.product__size__border {
  width: 83.5px;
  height: 6.1rem;
  border: none;
  transition: border 0.3s ease-in-out;
}
.active .product__size__border {
  border: 1px solid rgba(83, 83, 83, 0.35);
}

.product__size__border.active {
  border: 1px solid rgba(83, 83, 83, 0.35);
}

.product__size__border:hover {
  border: 1px solid rgba(83, 83, 83, 0.35);
}

.product__size__border__active {
  width: 83.5px;
  height: 6.1rem;
  border: 1px solid rgba(83, 83, 83, 0.4);
}

.product__size li > div {
  font-weight: 200;
}

.product__size img {
  width: 80px;
  border-radius: 3px;
  cursor: pointer;
}

.product__size .capacity {
  text-align: center;
}

.detail__info__desc {
  margin: 20px 0 30px;
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 1.8;
}

.detail__info__desc span {
  font-weight: 400;
  font-size: 0.85rem;
}

.detail__info__desc div {
  margin-bottom: 0.8rem;
}

.detail__info__summary {
  word-break: normal;
  margin-bottom: 25px;
  font-weight: 200;
  font-size: 0.8125rem;
  line-height: 1.8;
}

.detail__info__summary div {
  margin-bottom: 0.8rem;
}

.detail__btn {
  margin: 0 0 40px;
  cursor: pointer;
  border-style: none;
  background-color: initial;
  border-bottom: 1px solid var(--gray);
}

.detail__info__ctg__summary {
  margin: 30px 0 40px;
  word-break: normal;
  margin-bottom: 40px;
  font-weight: 200;
  font-size: 0.8125rem;
}

.detail__info__ctg__summary div {
  margin-bottom: 0.8rem;
}

.detail__info__ctg__summary span {
  display: inline-block;
  font-weight: 400;
  margin-bottom: 5px;
}

.detail__info__ctg__summary__p {
  margin-bottom: 25px;
}

.cart__btn {
  width: 100%;
  height: 3rem;
  border: 1px solid var(--black);
  background: var(--black);
  color: var(--white);
  cursor: pointer;
}

.accordian__container {
  margin-top: 40px;
  border-bottom: 1px solid #d5d5d5;
  line-height: 1.8571;
}

.accordian {
  width: 100%;
  height: 65px;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  text-align: left;
}

.acc3__box {
  padding-bottom: 0.8125rem;
}

.acc3__box:not(:last-child) {
  padding-bottom: 0.8125rem;
}

.acc3__title {
  font-weight: 400;
  margin-bottom: 0.1875rem;
}

.recommend {
  position: relative;
  padding-top: 200px;
}

@media (max-width: 1024px) {
  .detail__content {
    flex-direction: column;
    margin-top: 7.3rem;
  }
  .product__info {
    flex: 0 0 40%;
    padding-top: 50px;
  }
}
