.slick__slider {
  width: 100%;
}

.slick__slider img {
  width: 50%;
  display: block;
  margin: auto;
}

.slick__slider video {
  width: 50%;
  display: block;
  margin: auto;
}

.slick__slider:focus {
  outline: none;
}
