.swiper__container {
  margin-top: 4.375rem;
  padding: 30px 0 90px;
  display: flex;
  padding-left: calc((100% - 1905px) / 2);
  padding-right: calc((100% - 1905px) / 2);
}
.swiper__slide {
  width: 120px;
  height: 120px;
  border: none;
  transition: border 0.4s ease-in-out;
}

.swiper__slide.active {
  border: 2px double var(--gray);
  border-radius: 50%;
}

.swiper__slide:hover {
  border: 2px double rgba(83, 83, 83, 0.35);
  border-radius: 50%;
}

.swiper__slide {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  transition: border 0.4s ease-in-out;
}

.swiper__slide.active {
  border: 2px double var(--gray);
}

.swiper__slide:hover {
  border: 2px double hsla(0, 0%, 33%, 0.2);
}

.swiper__innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.swiper__innerContainer img {
  margin-bottom: 15px;
  padding: 3px;
}

.swiper__innerContainer span {
  font-size: 11px;
  font-weight: 400;
}
