.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: var(--white);
  color: var(--black);
  height: 4.375rem;
  font-family: "Noto Sans KR", sans-serif;
}

.transparent {
  background: rgba(255, 255, 255, 0.25);
  font-weight: 350;
  color: var(--white);
}

.header nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2.75rem;
  height: 4.375rem;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.3rem;
  font-size: 0.75rem;
  font-weight: 350;
}

.left li:nth-child(1) {
  font-size: 1.5625rem;
  font-family: "BookkMyungjo-Bd";
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.3rem;
  font-size: 0.75rem;
  font-weight: 350;
}

.searchForm__container {
  width: 17rem;
  display: flex;
  border: 1px solid var(--black);
  border-radius: 0.625rem;
  padding: 0.2125rem;
}
.searchForm {
  display: flex;
  cursor: pointer;
}
.searchForm input {
  width: 15rem;
  border: none;
}

.searchForm button {
  border: none;
  background-color: initial;
}

.right img {
  width: 1.1rem;
}

.badge {
  position: absolute;
  bottom: 53%;
  width: 2.0625rem;
  height: 15px;
  content: "";
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  font-weight: 600;
  z-index: 10;
}

.mobile__menu {
  display: none;
}

@media (max-width: 1024px) {
  .left li:not(:first-child) {
    display: none;
  }
  .right li:not(:nth-child(4)):not(:last-child) {
    display: none;
  }
  .mobile__menu {
    display: block;
  }
}
