.banner__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans KR", sans-serif;
  color: var(--black);
}

.banner__inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__tubeHand {
  max-width: 60% !important;
}

.banner__inner img {
  max-width: 100%;
  height: auto;
}

.banner__inner video {
  max-width: 100%;
  height: auto;
}

.banner__context {
  max-width: 45.4375rem;
  margin: 3.75rem auto 3.75rem;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0 20px;
}

.banner__title {
  font-size: 1.375rem;
  font-weight: 400;
}

.banner_text {
  overflow: hidden;
  transition: height 0.35s ease-in;
  font-size: 13px;
  line-height: 1.8571;
  margin-top: 1.875rem;
  font-weight: 300;
}
